.my-routines-container {
    display: flex;
    flex-direction: column;
  }
  
  .my-routines-list {
    margin-bottom: 20px;
  }
  
  .my-routine-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .my-routine-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .my-routine-goal span, 
  .activity-info span,
  .my-routine-creator span {
    font-weight: normal;
  }
  
  .my-routine-goal, 
  .activity-info p,
  .my-routine-creator {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .my-routine-creator {
    font-size: 0.8em;
  }
  
  .edit-button {
    margin-top: 10px;
    background-color: #008CBA;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button {
    margin-top: 10px;
    background-color: #ff0000;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .update-routine-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  